@media only screen and (max-width:1095px) {
    a {
        text-decoration: none;
    }

    a:hover {
        color: #FCA311;
    }

    a:active {
        color: rgb(255, 238, 0);
    }

    span {
        font-weight: 600;
        color: #FCA311;
    }
.logo{
    position: fixed;
    top: 15px;
    left: 80vw;
}
    .openNav {
        padding: 1em;
        background-color: rgb(20, 33, 61);
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .navBar {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;
        background-color: #111;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .navBar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .navBar a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .navBar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
    }

    .header {
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .head {
        background-color: rgb(20, 33, 61);
        position: relative;
        bottom: 20px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header h1 {
        font-weight: 300;
        font-size: 10vw;
        padding-bottom: 1rem;
    }

    .header p {
        word-spacing: 2px;
    }

    .header img {
        width: 100%;
        height: auto;
    }

    .persentages {
        background-color: black;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        height: 20rem;
        text-align: center;
    }

    .persentages div h1 {
        font: normal normal 600 90px/1.1em sans-serif;
        color: #FCA311;
    }

    .persentages p {
        color: white;
        font-weight: 500;
        padding: 0 6em;
    }

    .container2 {
        display: flex;
        justify-content: center;
        background-color: black;
        width: 100%;
    }

    .gridContainer {
        position: relative;
        display: grid;
        grid-template-columns: 10vw 16vw 12vw 60vw;
        grid-template-rows: 5em 6em 22em 6em 17em;
    }

    .gridItem {
        text-align: center;
        padding: 10px;
    }

    .itemx {
        grid-column: 1/span 4;
        grid-row: 1;
    }

    .item1 {
        grid-column: 1;
        grid-row: 2/span 2;
    }

    .item2 {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font: normal normal 500 30px/1em sans-serif;
        align-self: baseline;
        padding: 1em 0em 2em 0.5em;
        grid-column: 2;
        grid-row: 3;
        border-left: 5px #FCA311 solid;
    }

    .item3 {
        display: none;
    }

    .item4 {
        display: none;
    }

    .item5 {
        grid-column: 4;
        grid-row: 2;
    }

    .item11 {
        display: none;
    }

    .item6 {
        background-color: #FCA311;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 5vw;
        align-self: center;
        grid-column: 1/span 3;
        grid-row: 2;
    }

    .item6 h1 {
        color: black;
    }

    .item6 h2 {
        color: black;
        text-decoration: underline;
    }

    .item7 {
        padding: 1.5em 0em 0em 1em;
        text-align: justify;
        grid-column: 3/span 2;
        grid-row: 3;
    }

    .item12 {
        display: none;
    }

    .item8 {
        text-align: justify;
        grid-column: 1/span 4;
        grid-row: 5;
    }

    .item9 {
        border-top: 5px #FCA311 solid;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        font: normal normal 500 30px/1em sans-serif;
        grid-column: 2/span 4;
        grid-row: 4;
        word-spacing: 2vw;
    }

    .item10 {
        display: none;
    }

    .catcher {
        display: flex;
        height: 15em;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .catcher h1 {
        color: black;
    }

    .catcher h2 {
        color: #FCA311;
    }

    .serviceContainer {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3em;
    }

    .servicesHeader {
        text-align: center;
        padding: 2em;
    }

    .servicesHeader h1 {
        font: normal normal 700 50px/1.5em sans-serif;
        color: #FCA311;
    }

    .services {
        justify-items: center;
        display: grid;
        gap: 1em;
        grid-template-columns: 29vw 29vw 29vw;
        grid-template-rows: 14em 14em;
    }

    .common {
        border-radius: 60px;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }

    .common h1 {
        padding: 1em 0;
        color: #FCA311;
    }

    .common img {
        width: 100%;
        height: 8em;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }


    .ourPartners {
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        height: 13rem;
        text-align: center;
    }

    .ourPartners h1 {
        font: normal normal 700 50px/1.5em sans-serif;
    }

    .partners {
        padding: 3em 0 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: rgb(20, 33, 61);
    }

    .partners h1 {
        color: #FCA311;
        padding: 1em 5.5em 1em 0.5em;
        border-bottom: 5px solid white;
    }

    .logos {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 7em 7em 7em;
        grid-template-rows: 4em 4em;
    }

    footer {
        text-align: center;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: black;
    }

    footer h1 {
        padding: 4em 0.5em 1em 0.5em;
    }

    .botton input {
        padding: 0.7em 2em;
        color: black;
        border-radius: 7px;
        margin-bottom: 1em;
        font-size: large;
        font-weight: 600;
        background-color: #FCA311;
    }

    .footer {
        padding: 3em 0;
        width: 100%;
        font: normal normal 700 20px/1.4em small-caps;
        text-align: center;
        background-color: black;
        color: #FCA311;
    }
}