* {
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width:1095px) {
    .navBar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .navBar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .navBar a:hover {
        color: #f1f1f1;
    }

    .navBar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    * {
        box-sizing: border-box
    }

    body {
        font-family: Verdana, sans-serif;
        margin: 0
    }

    .mySlides {
        display: none
    }

    img {
        vertical-align: middle;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        position: relative;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }



    .hover_text {
        position: absolute;
        left: 40%;
        bottom: 0;
        opacity: 0;
        color: white;
        transition: 1000ms all;
        z-index: 10000;
    }

    .backgroundImage {
        position: absolute;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        filter: brightness(60%);
    }

    .logo img {
        height: 4em;
        padding: 0px 15px 0px 0px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        transition: 0.36s;
        color: #ff4a52;
    }

    span {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .navBar0 {
        position: relative;
        display: flex;
        padding: 2vw 12vw;
        align-items: center;
    }

    .navBar0 div:nth-child(1) {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .navBar0 div {
        font: normal normal 600 20px/1.4em sans-serif;
    }

    .header {
        position: relative;
        height: 100vh;
        display: grid;
        grid-template-rows: 40vw 60vw;
        grid-template-columns: 100vw;
        justify-items: center;
        align-items: start;
        align-content: center;
        justify-content: center;
    }

    .header h1 {
        text-align: center;
        font-weight: 300;
        font-size: 30pt;
    }

    .header h2 {
        text-align: center;
    }

    .header p {
        font-size: 17px;
        text-align: justify;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    .inputForms {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 90vw;
        grid-template-rows: 9vh 9vh 9vh;
        justify-items: center;
        box-shadow: none;
        color: #565656;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        line-height: 1.43;
    }

    .inputForms input,
    select {
        width: 90vw;
        height: 10vw;
        color: gray;
        border-radius: 6px;
        font-size: larger;
        text-align: center;
    }

    .inputForms input[type=button] {
        width: 50vw;
        border-radius: 30px;
        background-color: #ff4a52;
        color: #ffffff;
        font-weight: 600;
        font-size: large;
        border-color: #ff4a52
    }

    .inputForms input[type=text] {
        border: 1px solid #e8e8e8;
    }

    .inputForms select option {
        color: #565656;
    }

    .popular {

        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .popular h1 {
        padding-bottom: 2em;
    }

    .popular div {
        display: flex;
        flex-direction: column;
    }

    .popular div img {
        width: 90vw;
        border-radius: 30px;
        padding: 1em;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        bottom: 0;
        background-color: black;
        color: white;
    }

    footer div {
        display: flex;
        flex-direction: column;
    }

    footer div div {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer div div img {
        width: 7em;
    }

    .recentTrips {
        display: grid;
        grid-template-columns: 7em 7em 7em;
        grid-template-rows: 8em 8em;
    }

    .recentTrips img {
        width: 6em;
        border-radius: 1em;
    }

    .hotelCards {
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 10vw;
        justify-content: center;
    }

    .hotel {
        position: relative;
    }

    .hotel input {
        opacity: 0;
        background-color: #565656;
        width: 4em;
        border-radius: 10px;
        color: #ff4a52;
        border-color: #ff4a52;
        position: absolute;
        padding: 0.5em;
        top: 17vw;
        left: 13vw;
        font-size: large;
        font-weight: 600;
    }

    .hotel img {
        position: absolute;
        z-index: 0;
        width: 100%;
        border-radius: 35px;
    }

    .hotelInfo {
        position: absolute;
        z-index: 1;
        opacity: 0;
    }

    .hotelInfo span {
        position: absolute;
        font-size: 2em;
        color: #ff4a52;
    }

    .hotelInfo span:nth-child(1) {
        top: 3vw;
        left: 20vw;
    }

    .hotelInfo span:nth-child(2) {
        position: absolute;
        bottom: -40vw;
        left: 3vw;
    }

    .booking {
        visibility: hidden;
        background-color: #ff9ca1;
        width: 90vw;
        height: 45vh;
        position: fixed;
        top: 10vh;
        left: 5vw;
        z-index: 5;
        display: grid;
        justify-items: center;
    }

    .booking input[value=submit] {
        padding: 1em;
        border-radius: 25px;
        width: 10rem;
        height: 4em;
        background: #717171;
        font-size: 1em;
    }

    .icon {
        color: black;
        position: absolute;
        right: 1vw;
        font-size: 2em;
        border: none;
        background: transparent;
        top: 1vh;
    }

    .bookingInputs {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .bookingInputs div {
        display: grid;
        grid-auto-flow: row;
        width: 100%;
        justify-items: center;
        align-content: space-evenly;
    }

    .bookingInputs div span {
        font-size: 2em;
        color: black;
    }

    .bookingInputs div select {
        color: black;
        width: 75vw;
        margin-top: 2vw;
    }

    .bookingInputs div select option {
        color: black;
    }
}