* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FCA311;
}

a:active {
    color: rgb(255, 238, 0);
}

span {
    font-weight: 600;
    color: #FCA311;
}

.container {
    background-image: url(images/cover1.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.top {
    background-color: rgb(20, 33, 61);
    height: 600px;
}

.navBar {
    display: flex;
    padding: 4rem 6rem;
}

.navBar div:nth-child(1) {
    flex-grow: 1;
    padding-left: 5em;
}

.navBar div {
    padding: 0 1rem 0 1rem;
    font: normal normal 600 20px/1.4em sans-serif;
}

.header {
    gap: 3em;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
}

.header h1 {
    font-weight: 300;
    font-size: 40pt;
    padding-bottom: 1rem;
}

.header p {
    letter-spacing: 1px;
    word-spacing: 2px;
}

.header img {
    width: 100%;
    height: auto;
}

.persentages {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 16% 16%;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
    text-align: center;
}

.persentages div h1 {
    font: normal normal 600 90px/1.1em sans-serif;
    color: #FCA311;
}

.persentages p {
    color: black;
    font-weight: 900;
}

.container2 {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 33, 61);
    width: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 7em 20em 17em 17em 17em;
    grid-template-rows: 10em 5em 17em 10em 10em;
}

.gridItem {
    text-align: center;
    padding: 10px;
}

.item1 {
    grid-column: 1;
    grid-row: 1/span 5;
}

.item2 {
    font: normal normal 500 50px/1.4em sans-serif;
    align-self: center;
    grid-column: 2/span 2;
    grid-row: 1;
}

.item3 {
    border-left: 5px #FCA311 solid;
    grid-column: 4;
    grid-row: 1;
}

.item4 {
    grid-column: 5;
    grid-row: 1/span 5;
}

.item5 {
    grid-column: 2;
    grid-row: 2;
}

.item11 {
    border-right: 5px #FCA311 solid;
    border-bottom: 5px #FCA311 solid;
    grid-column: 2;
    grid-row: 3;
}

.item6 {
    font-size: 20pt;
    align-self: center;
    padding: 4.4em 0;
    border-top: 5px #FCA311 solid;
    border-bottom: 5px #FCA311 solid;
    grid-column: 3;
    grid-row: 2/span 2;
}

.item7 {
    align-self: baseline;
    text-align: start;
    border-top: 5px #FCA311 solid;
    border-left: 5px #FCA311 solid;
    grid-column: 4;
    grid-row: 2;
}

.item12 {
    padding: 0.4 1em;
    text-align: start;
    grid-column: 4;
    grid-row: 3;
}

.item8 {
    text-align: start;
    border-right: 5px #FCA311 solid;
    grid-column: 2;
    grid-row: 4;
}

.item9 {
    font: normal normal 500 50px/1.4em sans-serif;
    grid-column: 3/span 2;
    grid-row: 4;
}

.item10 {
    grid-column: 2/span 3;
    grid-row: 5;
}

.catcher {
    display: flex;
    height: 15em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.catcher h1 {
    color: black;
}

.catcher h2 {
    color: #FCA311;
}

.serviceContainer {
    background-color: rgb(20, 33, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

.servicesHeader {
    text-align: center;
    padding: 2em;
}

.servicesHeader h1 {
    font: normal normal 700 50px/1.5em sans-serif;
    color: #FCA311;
}

.services {
    display: grid;
    gap: 1em;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: 23em 23em;
}

.common {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.common h1 {
    padding: 1em;
    color: #FCA311;
}

.common img {
    width: 100%;
    height: 73%;
}

.ourPartners {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    height: 13rem;
    text-align: center;
}
.ourPartners h1{
    font: normal normal 700 50px/1.5em sans-serif;
}
.partners {
    padding: 3em 0 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 33, 61);
}

.partners h1 {
    padding: 1em;
    border-right: 5px solid #FCA311;
}

.logos {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 7em 7em 7em;
    grid-template-rows: 4em 4em;
}

footer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(20, 33, 61);
}
footer h1{
    padding:4em 0em 1em 0em ;
}
.botton input{
    padding:0.7em 2em;
    color: black;
    border-radius: 7px;
    margin-bottom: 1em;
    font-size: large;
    font-weight: 600;
    background-color: #FCA311;
}
.footer{
    padding: 3em 0;
    width: 100%;
    font:normal normal 700 20px/1.4em small-caps;
    text-align: center;
    background-color: black;
    color: #FCA311;
}
